:root
{
    --vw: min(1vw, 1vh);
}

*
{
    user-select: none;
}

html, body
{
    height: 100%;
    margin: 0;
}

body
{
    display: flex;
    flex-flow: column;
    background-color: slategray;
    text-align: center;
}

body > div
{
    margin: auto;
    min-width: calc(98 * var(--vw));
}

body > div > div
{
    margin-top: calc(1 * var(--vw));
    margin-bottom: calc(1 * var(--vw));
}

body > div:not(last-child)
{
    flex: 0 1 auto;
}

body > div:last-child
{
    flex: 1 1 auto;
}

#control
{
    display: inline-block;
}

#control > div
{
    border: calc(0.15 * var(--vw)) solid black;
    border-radius: calc(1 * var(--vw));
    font-size: calc(var(--vw) * 2);
    width: calc(24 * var(--vw));
    padding: calc(1 * var(--vw));
    text-decoration: none;
}

#control > div[data-show="0"]
{
    display: none;
}

#message
{
    font-weight: bold;
    color: white;
    background-color: dimgray;
}

#go
{
    background-color: ivory;
}

#gameover
{
    font-weight: bold;
    color: white;
}

#gameover[data-show="1"]
{
    background-color: green;
}

#gameover[data-show="2"]
{
    background-color: red;
}

#gameover[data-show="3"]
{
    background-color: yellow;
}

#menu
{
    display: inline-block;
    position: relative;
    vertical-align: top;
}

#more
{
    width: calc(5 * var(--vw));
    height: auto;
}

#options
{
    width: calc(var(--vw) * 20);
    margin-top: calc(var(--vw) * 1.5);
    border: calc(var(--vw) * 0.1) solid black;
    border-radius: calc(var(--vw) * 2);
    box-shadow: 0 0 calc(var(--vw) * 5) black;
    font-size: calc(var(--vw) * 2);
    display: none;
    position: absolute;
    z-index: 100;
    right: 0pt;
    background-color: mintcream;
}

#options > div
{
    cursor: default;
    padding: calc(var(--vw) * 1.5);
}

#options > div:not(:first-child)
{
    border-top: calc(var(--vw) * 0.2) solid gray;
}

#board
{
    position: relative;
}

.cell
{
    width: calc(var(--vw) * (8 * 1.4143 - 0.25));
    height: calc(var(--vw) * (8 * 1.4143 - 0.25));
    border: calc(var(--vw) * 0.25) solid black;
    top: calc(var(--vw) * 8 * var(--y));
    left: calc(var(--vw) * 16 * (var(--x) + var(--shift) / 2 + 0.75));
    position: absolute;
    background-color: gray;
    rotate: 45deg;
}

.cell[data-color]::before
{
    width: calc(var(--vw) * 8);
    height: calc(var(--vw) * 8);
    rotate: -45deg;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background-size: 100% 100%;
}

.cell[data-color="bn"]::before
{
    background-image: url(pieces/bn.png);
}

.cell[data-color="bq"]::before
{
    background-image: url(pieces/bq.png);
}

.cell[data-color="wn"]::before
{
    background-image: url(pieces/wn.png);
}

.cell[data-color="wq"]::before
{
    background-image: url(pieces/wq.png);
}

.cell[data-order]::after
{
    font-size: calc(var(--vw) * 2);
    line-height: calc(var(--vw) * 8 * 1.4143);
    overflow: visible;
    rotate: -45deg;
    position: absolute;
    color: darkslategray;
    font-weight: bold;
    font-family: monospace;
    content: attr(data-order);
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
