:root
{
    --vw: min(1vw, 0.75vh);
}

*
{
    user-select: none;
}

html, body
{
    height: 100%;
    margin: 0;
}

body
{
    display: flex;
    flex-flow: column;
    background-color: slategray;
    text-align: center;
}

body > div
{
    margin: auto;
    min-width: calc(100 * var(--vw));
}

body > div:not(last-child)
{
    flex: 0 1 auto;
}

body > div:last-child
{
    flex: 1 1 auto;
}

#header
{
    font-size: calc(var(--vw) * 3);
    margin-top: calc(var(--vw) * 1);
    margin-bottom: calc(var(--vw) * 3);
}

#header > div
{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

#side > div
{
    padding: calc(1 * var(--vw));
    text-align: right;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: midnightblue;
}

#side-piece
{
    width: calc(6 * var(--vw));
    height: auto;
}

#side-direction
{
    width: calc(6 * var(--vw));
    height: auto;
}

#control > div
{
    border: calc(0.15 * var(--vw)) solid black;
    border-radius: calc(1 * var(--vw));
    width: calc(22 * var(--vw));
    padding: calc(1 * var(--vw));
    text-decoration: none;
}

#control > div[data-show="0"]
{
    display: none;
}

#message
{
    font-weight: bold;
    color: white;
    background-color: dimgray;
}

#go
{
    background-color: ivory;
}

#gameover
{
    font-weight: bold;
    color: white;
}

#gameover[data-show="1"]
{
    background-color: green;
}

#gameover[data-show="2"]
{
    background-color: red;
}

#gameover[data-show="3"]
{
    background-color: goldenrod;
}

#menu
{
    position: relative;
}

#more
{
    width: calc(6 * var(--vw));
    height: auto;
}

#options
{
    width: calc(var(--vw) * 25);
    border: calc(var(--vw) * 0.1) solid black;
    border-radius: calc(var(--vw) * 2);
    font-size: calc(var(--vw) * 3);
    box-shadow: 0 0 calc(var(--vw) * 5) black;
    top: 125%;
    display: none;
    position: absolute;
    z-index: 1000;
    right: 0pt;
    background-color: mintcream;
}

#options > div
{
    cursor: default;
    padding: calc(var(--vw) * 1.5);
}

#options > div:not(:first-child)
{
    border-top: calc(var(--vw) * 0.2) solid gray;
}

#board
{
    width: calc(4 * 24 * var(--vw));
    height: calc(5 * 24 * var(--vw));
    font-size: calc(4 * var(--vw));
    margin: auto;
    position: relative;
}

.cell
{
    width: 25%;
    height: 20%;
    top: calc(100% / 5 / 2 * var(--y));
    left: calc(100% / 4 / 2 * (var(--x) * 2 + var(--shift)));
    position: absolute;
}

.room
{
    width: calc(50% * 1.4142 - (var(--vw) * 0.125));
    height: calc(50% * 1.4142 - (var(--vw) * 0.125));
    border: calc(var(--vw) * 0.25) solid black;
    z-index: 100;
    background-color: darkslategray;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotate(45deg);
}

.piece
{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    z-index: 200;
    pointer-events: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100% 100%;
}

.piece[data-color="bn"]
{
    background-image: url(pieces/bn.png);
    box-shadow: 0 0 calc(3 * var(--vw)) black;
}

.piece[data-color="bq"]
{
    background-image: url(pieces/bq.png);
    box-shadow: 0 0 calc(3 * var(--vw)) black;
}

.piece[data-color="wn"]
{
    background-image: url(pieces/wn.png);
    box-shadow: 0 0 calc(3 * var(--vw)) black;
}

.piece[data-color="wq"]
{
    background-image: url(pieces/wq.png);
    box-shadow: 0 0 calc(3 * var(--vw)) black;
}

.text
{
    width: 50%;
    height: 50%;
    z-index: 300;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: chocolate;
    font-weight: bold;
    font-family: monospace;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
